name: Build Pacparser for Mac Universal

on:
  push:
    branches:
      - preveil
      - feature/*
  pull_request:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to run workflow for"
        required: true

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: macos-13
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v5
        if: ${{ !contains(github.event_name, 'workflow_dispatch') }}
        with:
          fetch-depth: 0

      - name: Check out code for workflow_dispatch
        if: ${{ contains(github.event_name, 'workflow_dispatch') }}
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.tag }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up setuptools
        run: |
          python --version
          python -m pip install setuptools build wheel

      - name: Build a wheel
        run: make -C src pymod-dist

      - name: Upload the wheel
        uses: actions/upload-artifact@v4
        with:
          name: pacparser-wheel-py${{ matrix.python-version }}
          path: src/pymod/dist/pacparser*.whl
